body {
    text-align: center;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;

}

.header-content {
    margin-bottom: 20px;
}

.h1-content {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-main {
    padding: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-main p {
    margin: 20px;
    font-size: 30px;
    color: #333;
}

.content-main h2, .content-main h3 {
    color: #555;
}

.content-main h2 {
    margin-top: 20px;
    font-size: 24px;
}

.content-main h3 {
    margin-top: 10px;
    font-size: 20px;
}

.backHome {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: all 0.3s ease;
}

.backHome:hover {
    background-color: #ff8da1;
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.ps-content {
}